{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}

    <section class="mt-5">
        <div class="container">
            <div class="flex align-item-center pt-5 pb-5">
                <div class="col-lg-3">
                    <form method="post">

                        {% if error %}
                            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}

                        {% if app.user %}
                            <div class="mb-3">
                                You are logged in as {{ app.user.username }}, <a
                                        href="{{ path('app_logout') }}">Logout</a>
                            </div>
                        {% endif %}

                        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
                        <label class="mb-3" for="inputEmail">Email</label>
                        <input type="email" value="{{ last_username }}" name="email" id="inputEmail"
                               class="form-control"
                               autocomplete="email" required autofocus>
                        <label class="mt-3 mb-3" for="inputPassword">Password</label>
                        <input type="password" name="password" id="inputPassword" class="form-control"
                               autocomplete="current-password"
                               required>

                        <input type="hidden" name="_csrf_token"
                               value="{{ csrf_token('authenticate') }}"
                        >

                        {#
                        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                        See https://symfony.com/doc/current/security/remember_me.html

                        <div class="checkbox mb-3">
                            <label>
                                <input type="checkbox" name="_remember_me"> Remember me
                            </label>
                        </div>
                        #}

                        <button class="btn btn-lg btn-primary mt-3" type="submit">
                            Valider
                        </button>
                    </form>
                </div>
                <div class="col-lg-5 offset-lg-2 text-center">
                    <img src="https://i.ibb.co/0BL3wZD/ysnp.png"
                         alt="damien-logo" width="425" height="300"
                         class="navbar d-inline-block align-text-top">
                </div>
            </div>
        </div>
    </section>

{% endblock %}
