{% extends 'base.html.twig' %}

{% block title %}Damien Carli{% endblock %}

{% block body %}

    {# Presentation #}
    <section>
        <div class="container">
            <div class="row pt-5">
                <div class="col-12">
                    <div class="flex">
                        <div class="w-25">
                            <img style="width:200px;border-radius: 50%"
                                 src="{{ asset('/upload/images/projects/ezgif.com-gif-maker.jpg') }}" alt="me">
                        </div>
                        <div class="w-75 text-end">
                            <p>
                                After my education, I started to learn code in C++ but I was forced to stop because I
                                had
                                to find a job. So I worked as forklift operator in several worldwide companies as
                                L'Oréal,
                                John Deere or Dior. But this career was not stable, and I want to change because I
                                didn't
                                like my job anymore.
                            </p>
                            <p>
                                In 2020, I found Wild Code School which allows people to learn code. I was very
                                motivated
                                to learn and change my life. I learned HTML, CSS, Python, PHP and Symfony and I realized
                                3 projects during this training. I also learned to work in Agile method on team projects.
                            </p>
                            <p>
                                Wild Code School offers the opportunity to make a stage in a company. I had the chance
                                to do my internship in the company <a href="https://we-labz.com/">Welabz</a> as a Web
                                and Mobile Web Developer.
                            </p>
                            <p>
                                Then I am looking for a job and I found a Designer Developer job at CPAM Gironde during
                                one year. Now I want to found a job where I can learn Python and continue to work on PHP
                                and Symfony.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {# Career #}
    <section>
        <div class="container">
            <div class="row pt-5">
                <div class="col-12">
                    <h1 class="text-uppercase border-bottom mb-4">Jobs</h1>
                </div>
            </div>
            <div class="flex">
                <div class="col-6">
                    {% for softSkill in softSkills %}
                    <div class="list-group m-5">
                        <div class="list-group-item">{{ softSkill.name }}</div>
                        <div class="list-group-item">{{ softSkill.description|raw }}</div>
                    </div>
                    {% endfor %}
                </div>
                <div class="col-6">
                    {% for career in careers %}
                        <div class="mb-5 bg-light rounded-3 shadow-sm top-0">
                            <div class="card-header bg-light flex align-items-center justify-content-between">
                                <h5 class="text-start">{{ career.title }} - {{ career.company }}</h5>
                                <div class="text-start">
                                    <small>
                                        {% if career.currentJob %}
                                            <small><i>de {{ career.start|date('d-m-Y') }} à aujourd'hui</i></small>
                                        {% else %}
                                            <small class="ml-3"><i>de {{ career.start|date('d-m-Y') }}
                                                    à {{ career.end|date('d-m-Y') }}</i></small>
                                        {% endif %}
                                    </small>
                                </div>
                            </div>
                            <div class="card-body bg-light text-start">

                                <p class="card-text bg-light">{{ career.mission | raw }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>

    {# Projects #}
    <section class="pb-5">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1 class="text-uppercase border-bottom mb-4">Projects</h1>
                </div>
            </div>
            <div class="row">
                {% for projects in project|sort((b,a) => a.createdAt <=> b.createdAt) %}
                    <div class="col-lg-4 mb-3 d-flex align-items-stretch">
                        <div class="card h-100 d-flex flex-column justify-content-between">
                            {# Image #}
                            <a href="#" class="link">
                                <img class="img-thumbnail rounded mx-auto d-block"
                                     src="{{ asset('/upload/images/projects/' ~ projects.image()) }}"
                                     alt="{{ projects.name }}">
                            </a>
                            <div class="m-0 p-0">
                                <div class="card-header">
                                    <span class="fw-bold fs-2">{{ projects.name | upper }}</span>
                                    <br>
                                    <small>
                                        {% if projects.team %}
                                            <small><u>Projet Réalisé en Équipe</u></small>
                                        {% else %}
                                            <small><u>Projet Réalisé en Solo</u></small>
                                        {% endif %}
                                    </small>
                                </div>
                                <div>
                                    <div class="py-4 px-4"
                                         style="background-color:yellow; color: #0a0a0a; font-weight: bold;">
                                        {{ projects.languages | join(' - ') }}
                                    </div>
                                </div>
                                <div class="description card-body">
                                    {{ projects.description | raw }}
                                </div>
                                {% if projects.progress %}
                                    <div class="flex align-items-center justify-content-center mb-2">
                                        Avancement du projet
                                    </div>
                                    <div class="progress mb-3 mx-5">
                                        <div class="progress-bar" role="progressbar"
                                             style="width: {{ projects.progress }}%;" aria-valuenow="25"
                                             aria-valuemin="0" aria-valuemax="100">
                                            {{ projects.progress }}%
                                        </div>
                                    </div>
                                {% endif %}
                                <div class="card-footer">
                                    <small class="text-muted fst-italic fw-light">Creation date
                                        : <i>{{ projects.createdAt|date('d-m-Y') }}</i></small>
                                    <br>

                                    <small class="text-muted fst-italic fw-light">Last modification
                                        : {{ projects.updatedAt | date('d-m-y') }}</small>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

    {# Study #}
    <section>
        <div class="container">
            <div class="row pt-5">
                <div class="col-12">
                    <h1 class="text-uppercase border-bottom mb-4">Studies</h1>
                </div>
            </div>
            <div class="flex">
                <div class="col-6">
                    {% for hardSkill in hardSkills %}
                        <h1>{{ hardSkill.name }}</h1>
                        <div class="progress mb-3 mx-5">
                            <div class="progress-bar" role="progressbar"
                                 style="width: {{ hardSkill.progress }}%;" aria-valuenow="25"
                                 aria-valuemin="0" aria-valuemax="100">
                                {{ hardSkill.progress }}%
                            </div>
                        </div>
                    {% endfor %}
                    {#                    HARDSKILLS #}
                </div>
                <div class="col-6">
                    {% for study in studies %}
                        <div class="mb-5 bg-light rounded-3 shadow-sm">
                            <div class="flex justify-content-between card-header bg-light">
                                <div class="text-start fs-2">{{ study.date|date('Y') }}</div>
                                <h5 class="text-end fs-2">{{ study.program }}</h5>
                            </div>
                            <div class="card-body bg-light text-end">
                                <h5 class="card-title"><b>{{ study.name | upper }}</b></h5>
                                <small>
                                    {% if study.achieved %}
                                        <small><u><i>Diploma obtained</i></u></small>
                                    {% else %}
                                        <small><u><i>Diploma not obtained</i></u></small>
                                    {% endif %}
                                </small>
                                <p class="card-text bg-light">{{ study.description | raw }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>

    {# Hobby #}
    <section>
        <div class="container">
            <div class="row pt-5">
                <div class="col-12">
                    <h1 class="text-uppercase border-bottom mb-4">Hobbies</h1>
                </div>
            </div>
            <div class="flex">
                <div class="col-9">
                    {% for hobby in hobbies %}
                        <div class="mb-5 bg-light rounded-3 shadow-sm">
                            <div class="card-body bg-light text-start">
                                <h5 class="card-title text-left">
                                    <b><i>{{ hobby.name | upper }}</i></b>
                                </h5>
                                <p class="card-text bg-light">{{ hobby.description | raw }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                {% if hobbies | length == 0 %}

                    {% else %}
                        <div class="col-3">
                            <img class="m-5" style="width: 250px" src="{{ asset('upload/images/projects/unnamed.jpg') }}"
                                 alt="Llevelwin">
                        </div>
                {% endif %}

            </div>
        </div>
    </section>

{% endblock %}
