<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>
<nav class="navbar navbar-light bg-light" style="position: fixed">
    <div class="container-fluid">
        {% if app.user %}
        <a class="navbar-brand" href="{{ path('admin') }}">
            <img src="https://i.ibb.co/Fwb1Jxh/damien-logo.png" alt="damien-logo" width="85" height="60"
                 class="navbar d-inline-block align-text-top">
        </a>
        {% else %}
        <a class="navbar-brand" href="{{ path('app_login') }}">
            <img src="https://i.ibb.co/Fwb1Jxh/damien-logo.png" alt="damien-logo" width="85" height="60"
                 class="navbar d-inline-block align-text-top">
        </a>
        {% endif %}
    </div>
</nav>
{% block body %}{% endblock %}
</body>
</html>
